@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style='margin-top:100px'>
    <h1 class="display-4">Aplicatia dumneavoastra de inregistrare a masinilor in servis</h1>
    <p style="font-size:25px"><a asp-page="/CarSheets/Index">Afiseaza foile auto ale masinilor</a></p>
</div>